.vscode/
*.gz
*.csv
*.pkl
*.json
__pycache__
/*/.git
Assignment_3/XCS224N-A3/data/
assignment*.zip
*.mp4
Assignment_5/XCS224N-A5/en_es_data/*
Assignment_5/.git*
slack-notes.txt
/*/*/experimental_outputs/
